{% extends "base.html" %}

{% block titulo %}
Inicio
{% endblock %}

{% block contenido %}


<div class="row g-4">

    <div class="col-md-6">

        <div class="card h-100">

            <div class="subtitulo">

                <h3>
                    ⚽ Partidos
                </h3>

                <p class="card-body text-center">
                    Crear partidos, registrar resultados y consultar ganadores.
                </p>

                <a href="/partidos"
                   class="btn btn-primary btn-lg">

                    Abrir

                </a>

            </div>

        </div>

    </div>

    <div class="col-md-6">

        <div class="card h-100">

            <div class="subtitulo">

                <h3>
                    👥 Participantes
                </h3>

                <p class="card-body text-center">
                    Administrar participantes de la quiniela.
                </p>

                <a href="/participantes"
                   class="btn btn-primary btn-lg">

                    Abrir

                </a>

            </div>

        </div>

    </div>

</div>

<div class="card mt-4">

    <div class="subtitulo">

        <h4>
            🏆 Mundial 2026
        </h4>

        <p class="card-body text-center">

            México 🇲🇽 · Estados Unidos 🇺🇸 · Canadá 🇨🇦

        </p>

    </div>

</div>

{% endblock %}