{% extends "base.html" %}

{% block titulo %}
Partidos
{% endblock %}

{% block contenido %}

<div class="container mt-4">

    <h1 class="text-center mb-4 titulo-principal" style="color:black;">
        Partidos Registrados
    </h1>

    <div class="d-grid mb-4">

        <a href="/nuevo-partido"
           class="btn btn-success btn-lg">

            ➕ Nuevo Partido

        </a>

    </div>

    {% for partido in partidos %}

        <div class="partido-card mb-4">

            <div class="card-body">

                <div class="text-center mb-3">

                    <div class="fecha-partido">
                        {{ partido[3] }}
                    </div>

                </div>

                <div class="marcador-partido">

            <span class="equipo">
                {{ partido[1] }}
            </span>

            <span class="goles">
                {{ partido[4] }}
            </span>

            <span class="vs">
                VS
            </span>

            <span class="goles">
                {{ partido[5] }}
            </span>

            <span class="equipo">
                {{ partido[2] }}
            </span>

        </div>

        <div class="text-center my-3">

            <a href="/resultado/{{ partido[0] }}"
            class="btn boton-resultado">

                Resultado

            </a>

        </div>


        

        <div class="boton-fila">

            <a href="/pronosticos/{{ partido[0] }}"
               class="btn boton-principal">

                Pronósticos

            </a>

            <a href="/ganadores/{{ partido[0] }}"
               class="btn boton-principal">

                Ganadores

            </a>

            <a href="/eliminar-partido/{{ partido[0] }}"
               class="btn boton-principal"
               onclick="return confirm('¿Eliminar este partido?')">

                Eliminar

            </a>

        </div>

    </div>

</div>

{% else %}


    <div class="card">

        <div class="card-body text-center">

            <h5>
                No hay partidos registrados
            </h5>

            <p class="text-muted">
                Presiona "Nuevo Partido" para crear el primero.
            </p>

        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}