{% extends "base.html" %}

{% block titulo %}
Participantes
{% endblock %}

{% block contenido %}

<div class="container mt-4">

    <h1 class="titulo-principal text-center">
        PARTICIPANTES
    </h1>

    <div class="card mb-4">

        <div class="card-body">

            <h4 class="mb-3">
                ➕ Agregar Participante
            </h4>

            <form method="POST">

                <div class="row g-3">

                    <div class="col-md-5">

                        <input type="text"
                               name="nombre"
                               class="form-control"
                               placeholder="Nombre"
                               required>

                    </div>

                    <div class="col-md-5">

                        <input type="text"
                               name="apellido"
                               class="form-control"
                               placeholder="Apellido"
                               required>

                    </div>

                    <div class="col-md-2 d-grid">

                        <button class="btn btn-success">
                            Agregar
                        </button>

                    </div>

                </div>

            </form>

        </div>

    </div>

    <div class="card">

        <div class="card-body">

            <h4 class="mb-3">
                Lista de Participantes
            </h4>

            <div class="row">

                {% for p in participantes %}

                <div class="col-md-4 mb-3">

                    <div class="partido-card h-100">

                        <div class="card-body text-center">

                            <div style="font-size:3rem;">
                                👤
                            </div>

                            <h3 class="equipo mb-1">
                                {{ p[1] }}
                            </h3>

                            <h5 class="text-white mb-3">
                                {{ p[2] }}
                            </h5>

                            <small class="text-secondary">
                                ID #{{ p[0] }}
                            </small>

                            <div class="mt-4">

                                <a href="/eliminar-participante/{{ p[0] }}"
                                class="btn boton-principal"
                                onclick="return confirm('¿Eliminar participante?')">

                                    Eliminar

                                </a>

                            </div>

                        </div>

                    </div>

                </div>

                {% endfor %}

            </div>     
            
            
            
        </div>

    </div>

</div>

{% endblock %}