<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pronósticos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-3">

        <a href="/" class="btn btn-secondary btn-sm">Inicio</a>

        <a href="/partidos" class="btn btn-primary btn-sm">
        Partidos
        </a>

        <a href="/participantes" class="btn btn-success btn-sm">
        Participantes
        </a>

    </div>

<div class="container mt-5">

    <h1>{{ partido[1] }} vs {{ partido[2] }}</h1>

    <form method="POST">

        <div class="row">

            <div class="col-md-4">
                <select name="participante_id"
                        class="form-control"
                        required>

                    <option value="">
                        Seleccione participante
                    </option>

                    {% for participante in participantes %}
                    <option value="{{ participante[0] }}">
                        {{ participante[1] }} {{ participante[2] }}
                    </option>
                    {% endfor %}

                </select>
            </div>

            <div class="col-md-2">
                <input type="number"
                       name="gol_local"
                       class="form-control"
                       placeholder="Local"
                       required>
            </div>

            <div class="col-md-2">
                <input type="number"
                       name="gol_visitante"
                       class="form-control"
                       placeholder="Visitante"
                       required>
            </div>

            <div class="col-md-2">
                <button class="btn btn-success">
                    Guardar
                </button>
            </div>

        </div>

    </form>

    <hr>

    <div class="alert alert-info">
    Total de pronósticos: {{ total_pronosticos }}
    </div>

    <table class="table">

        <thead>
            <tr>
                <th>Participante</th>
                <th>Pronóstico</th>
                <th>Accion</th>
            </tr>
        </thead>

        <tbody>

            {% for p in pronosticos %}
            <tr>
                <td>{{ p[1] }}</td>
                <td>{{ p[2] }} - {{ p[3] }}</td>

                <td>
                    <a href="/eliminar-pronostico/{{ p[0] }}/{{ partido[0] }}"
                       class="btn btn-danger btn-sm">
                       Eliminar
                    </a>
                </td>
            </tr>
            {% endfor %}

        </tbody>

    </table>

    <hr>

    <h3>Estadísticas</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Pronóstico</th>
                <th>Cantidad</th>
            </tr>
        </thead>

        <tbody>
            {% for e in estadisticas %}
            <tr>
                <td>{{ e[0] }} - {{ e[1] }}</td>
                <td>{{ e[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>

    <h3>Faltan por pronosticar</h3>

    {% if faltantes %}

    <ul class="list-group">

        {% for f in faltantes %}
        <li class="list-group-item">
            {{ f[0] }} {{ f[1] }}
        </li>
        {% endfor %}

    </ul>

    {% else %}

    <div class="alert alert-success">
        Todos los participantes ya enviaron su pronóstico.
    </div>

    {% endif %}

</div>

</body>
</html>