<!DOCTYPE html>
<html>
<head>
    <title>Resultado</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container mt-3">

        <a href="/" class="btn btn-secondary btn-sm">Inicio</a>

        <a href="/partidos" class="btn btn-primary btn-sm">
        Partidos
        </a>

        <a href="/participantes" class="btn btn-success btn-sm">
        Participantes
        </a>

    </div>

<div class="container mt-5">

    <h1>{{ partido[1] }} vs {{ partido[2] }}</h1>

    <form method="POST">

        <div class="row">

            <div class="col-md-3">
                <label>Goles Local</label>
                <input type="number"
                       name="gol_local"
                       class="form-control"
                       required>
            </div>

            <div class="col-md-3">
                <label>Goles Visitante</label>
                <input type="number"
                       name="gol_visitante"
                       class="form-control"
                       required>
            </div>

        </div>

        <br>

        <button class="btn btn-success">
            Guardar Resultado
        </button>

    </form>

</div>

</body>
</html>